<div class="container">
  <div class="user-details">
    <h3> About Me </h3>
    <p> {{site.user_description}} </p>
  </div>
  <div class="row user">
    <div class="four columns">
      <h4>Classwork Stack</h4>
      <i class="devicon-java-plain colored"></i>
      <i class="devicon-cplusplus-plain colored"></i>
      <i class="devicon-python-plain"></i>
      <p>Right now I'm using mostly these languages to complete coursework. I am most familiar and comfortable with them at the moment.</p>
    </div>
    <div class="four columns">
      <h4>Code</h4>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-react-original-wordmark colored"></i>
      <i class="devicon-nodejs-plain-wordmark"></i>
      <p>I'm currently spending most of my time learning and trying to build projects using Javascript and some of it's essential tools including React and Node.</p>
    </div>
    <div class="four columns">
      <h4>Tools</h4>
      <i class="devicon-git-plain colored"></i>
      <i class="devicon-trello-plain-wordmark colored"></i>
      <i class="devicon-atom-original-wordmark"></i>
      <p>Through group project work at my first hackathon as well as through the <a href="https://chingu-cohorts.github.io/chingu-directory/">Chingu Cohorts</a>, I have learned and utilized essential developmemt tools. </p>
    </div>
  </div>
</div>
