 <div class="user-details">
  <h1> My Skills </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>In Class</h2>
      <i class="devicon-cplusplus-plain colored"></i>
      <i class="devicon-java-plain colored"></i>
      <p>In the classroom environment, I mainly learn and stick to these languages, and am the most confident and well versed in them.</p>
    </div>
    <div class="tech">
      <h2>Out of Class</h2>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-typescript-plain colored"></i>
      <i class="devicon-react-original-wordmark colored"></i>
      <i class="devicon-django-plain colored"></i>
      <p>On my personal projects and in my internship work experience, I have utilized these frameworks and languages to create interactive and dynamic web experiences.</p>
    </div>
    <div class="tech">
      <h2>Version Control</h2>
      <i class="devicon-git-plain"></i>
      <i class="devicon-github-plain colored"></i>
      <p>I am very well versed in git version control and can git my way out of any situation in a codebase!</p>
    </div>
</div>
