<div class="container">
  <div class="user-details">
    <h3> Projects </h3>
  </div>
  <div class="row user-projects">
    <div class="six columns images">
      <img alt="PaperbotClone" src="{{ "/assets/img/paperbot-project-pic.png" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Paperbot.ai Site Clone </h5>
        <ul>
            <li> Git </li>
            <li> HTML/JS/CSS </li>
            <li> Group Collaboration </li>
        </ul>
      <p>This project, started from a Chingu Learners Cohort, was created by me and two other students looking to learn through creating. We jumped straight in and decided to recreate <a href="https://paperbot.ai">this site</a> from scratch together, effectively attemping to reverse engineer it, in turn picking up any frameworks or tools we needed.</p>
      <a class="project-link" href="https://github.com/bowedcontainer2/paperbot-landing-page-clone">Check it out</a>
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns">
      <img alt="Mediscore" src="{{ "/assets/img/mediscore.png" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> MediScore </h5>
        <ul>
          <li>Git + Github</li>
          <li>React.js</li>
          <li>Heroku</li>
          <li>Google Maps API</li>
        </ul>
      <p>This project was created in a team of four at Biola Hacks 2017. We utilized the John Snow Labs medical datasets and the Google Maps API in order to assign hospitals a score based on criteria ranked from most to least important by the user. This project tought me alot about the component structure of react.js, as well as deeper working knowledge of git through solving version issues. This event opened my eyes to tools and methods to development that I never knew existed.</p>
      <a class="project-link" href="https://github.com/RoyalSix/MediScore">Check it out</a>
    </div>
  </div>
</div>
