<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/mediscore_pic.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Mediscore </h3>
    <ul>
      <li> React JS</li>
      <li> Git/Github</li>
      <li> Clojure</li>
      <li> Heroku</li>
    </ul>
    <p>Mediscore is a First Place winning React js web application developed in a team of four at Biola Hacks 2017. We used animation libraries, Google Maps API,
      and John Snow Labs Data Sets in order to recommend hospitals to patients based on user preferences in a ranked order.</p>
    <a class="project-link" href="https://devpost.com/software/mediscore">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="relief-search screenshot" src="{{ "/assets/img/Relief_Search_pic.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Relief Search </h3>
    <ul>
      <li> React-Native</li>
      <li> Expo</li>
      <li> Git/GitHub</li>
      <li> Microsoft Facial Recognition API</li>
    </ul>
    <p>Relief Search is a react-native cross platform app for matching pictures of missing people
       to selfies of people marking themselves as safe, using Microsoft facial recognition.
     This project was developed in a team of three at Cal Tech Hacks and was a <strong>Microsoft Imagine Cup Qualifier</strong>. </p>
    <a class="project-link" href="https://devpost.com/software/relief-search">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/housemate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> HouseMate </h3>
    <ul>
      <li> React-Native</li>
      <li> Expo</li>
      <li> Git/Github</li>
      <li> Node + NPM</li>
    </ul>
    <p> HouseMate is a React Native Cross-Platform app that solves the problem of dividing up
       and rotating household chores among students in college splitting up work. Created in a team of four at MHacks X.</p>
    <a class="project-link" href="https://devpost.com/software/housemate-ur7a05">Check it out</a>
  </div>
</div>
</div>
