<aside class="sidebar">

  <div class="sidebar-container">
    <div class="sidebar-logo">
      <a href="{{site.baseurl}}/" class="logo">{% if site.name %}{{site.name}}{% else %}Fresh{% endif %}</a>
    </div>

    <menu class="sidebar-menu">
      <li class="menu-items"><a class="menu-links" href="{{site.baseurl}}/">Home</a></li>
      <li class="menu-items"><a class="menu-links" href="{{site.baseurl}}/about/">About</a></li>
      <li class="menu-items"><a class="menu-links" href="{{site.baseurl}}/contact/">Contact</a></li>
      <li class="menu-items"><a class="menu-links" href="">Code + Blog Posts</a></li>
      <li class="menu-items"><a class="menu-links" href="">Videos</a></li>
    </menu>

    <div class="sidebar-social">
      <li class="social-items"><a href="https://medium.com/@mpineda3247" class="social-links"><i class="social-icons fa fa-medium" aria-hidden="true"></i></a></li>
      <li class="social-items"><a href="https://twitter.com/bowedcontainer3" class="social-links"><i class="social-icons fa fa-twitter" aria-hidden="true"></i></a></li>
      <li class="social-items"><a href="https://www.linkedin.com/in/mpineda2/" class="social-links"><i class="social-icons fa fa-linkedin" aria-hidden="true"></i></a></li>
      <li class="social-items"><a href="https://github.com/bowedcontainer2" class="social-links"><i class="social-icons fa fa-github" aria-hidden="true"></i></a></li>
    </div>

  </div>
</aside>
